 <%= form_tag save_deposit_money_path do %>

  <legend class="text-bold">Deposit Money</legend>
	<div class="row">
    <div class="col-lg-6">
      <div class="form-group">
      	<label>Enter Amount </label>
  			<%= number_field_tag :deposit_money, nil, min: "0", required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">    
    <div class="col-lg-12">
    	<%= submit_tag "Submit", :class =>'button', class: "btn btn-primary" %>
    </div>
  </div>  
        
<% end %>
